#body {
  font-family: "Trirong", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#title{
  color: white;
}
#home{
  color: white;
}
#link{
  color: white;
}
#basic-nav-dropdown{
  color: white;
}
#cardjumbotron{
  background-color: white;
}
#johndoe{
  background-color: rgb(60,80,92);
}
#cardbody{
  background-color: rgb(60,80,92)
}
#card{
  border: 0px;
  color: white;
}